.navbar {
    background: #b14c6eda;
    padding: 4px 0;
    border-radius: 10px;
    position: relative;
    min-height: 60px;
    margin-bottom: 20px;
}
.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-family:Lobster, cursive;
    font-size:30px;
    line-height:20px;
    color:#e6e6fa;
}
.navbar-brand,.chat_pic{
    float:left;margin:0 10px;
}